.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header {
  min-height: 140px;
  margin-bottom: 2rem;
  text-align: center;
}
.status {
  margin-bottom: 1rem;
}
.date {
  margin-bottom: 1rem;
}
.day {
  display: block;
  margin-top: 0.3rem;
  opacity: 0.5;
}
.text {
  padding: 1rem;
}
/* head */
.textArea {
  width: 100%;
  border: 1px solid var(--sub-color);
  padding: 1rem;
  height: 50vh;
  box-sizing: border-box;
  outline: none;
  background-color: var(--box-color);
}
.buttonWrap {
  position: fixed;
  max-width: calc(600px - 2rem);
  width: 100%;
  bottom: 0;
  padding: 1rem 0;
}
.buttonWrap button {
  margin-right: 1rem;
}
.buttonWrap svg {
  font-size: 1.5rem;
  color: var(--brand-color);
}
.submit {
  position: absolute;
  right: 0;
}
